body{
    background-color: rgb(245, 245, 245);
}
.nanay-it{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(231, 220, 240);
  top: 90%;
  left: 80%;
  z-index: -1;
  padding: 0;
}
.container h1{
    font-size: 150px;
    color: rgb(219, 199, 237);
}
.container{
    position: fixed;
    top: 50px;
    margin-left: 300px;
    margin-right: 0;
    padding-right: 0;
    
}
.form-control, .form-select{
    position: relative;
    border-width: 1px;
    padding: 10px 0px 10px 20px;
    width: 270px;
    top: 40px;
    font-size: 20px;
}
.form-control:focus, .form-select:valid:focus{
    border:1px solid rgb(192, 146, 233);
    box-shadow: none;
}
.footer{
    position: fixed;
    top: 550px;
}
ul {
    margin-top: 20px;
    padding-left: 0px;
    list-style: none;
  }
.list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
  }
  .list-items {
    padding: 10px 0px 10px 20px;
    font-size: 20px;
  }
  .list-items:hover {
    background-color: #dddddd;
  }
  .draggable{
    border: 0.5px solid rgb(217, 109, 231);
    border-radius: 5px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .draggable.dragging{
    opacity: 0.3;
  }
aside{
  width: 290px;
  height: 100vh;
  background-color: rgb(253, 227, 248);
  z-index: -1;

}
.btn-outline-purple{
  border:1px solid rgb(233, 148, 216);
  color: rgb(185, 120, 172);
  border-radius: 5px;
  background-color: #f7f7f7;
  outline: none;
  height: 30px;
  width: 30px;
}
.btn-outline-purple:hover{
  background-color: rgb(243, 158, 225);
  color: rgb(185, 120, 172);
}
.btn-outline-purple:active {
  background-color: rgb(247, 172, 229);
  box-shadow: 0 0.5px #666;
  transform: translateY(0.5px);
}
aside a{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: rgb(241, 74, 200);
 
}
.side-menu-con{
  margin: 0px;
  padding: 10px 0px 10px 20px;
}
.side-menu-con p{
  margin-left: 20px;
}

.side-menu-con:hover{
  background-color: rgb(233, 165, 219);
  color: white;

}